[submodule "include/plog"]
	path = include/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "include/indicators"]
	path = include/indicators
	url = https://github.com/p-ranav/indicators.git
